body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #96cb35;
  color: #333;
}

header {
  background-color: #4a962c;
  color: #f0e62e;
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius:4%;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1);;
}

section {
  margin: 40px 20px;
  padding: 20px;
  background-color: #e7f312;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #000000;
}

p {
  color: black;
}
h1 {
  color: white;
}